<div data-block-id="{{block.uid}}" id="{{block.id}}" class="{{block.class}}">
 
 {% set logo = linotype('helper','File.getFile', { id: logo } ) %}
  <img class="logo" src="{{logo.src}}" width="100%"/>
  
</div>
